<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorate="~{./layout/layout_users}">
<head>
<meta charset="UTF-8">
<meta name="viewport" http-equiv="X-UA-Compatible"  content="width=device-width,initial-scale=1.0">
<title>Insert title here</title>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<link href="https://cdn.bootcss.com/iview/2.14.0/styles/iview.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/css/usersuccess_css.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/iconfont/iconfont.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/iconfont/demo.css}"/>
</head>

<body>
	<div layout:fragment="user_content">
		<p class="sh">
			<tr th:each="item,eee: ${user}"> 
				账号：<td th:text="${item.user_id}"></td><br>
				昵称：<td th:text="${item.user_name}"></td><br>
				密码：<td th:text="${item.user_pwd}"></td><br>
				性别：<td th:text="${item.sex}"></td><br>
				地址：<td th:text="${item.user_address}"></td><br>
				电话：<td th:text="${item.user_tele}"></td><br>
				系别：<td th:text="${item.user_pedigree}"></td><br>
				积分：<td th:text="${item.user_integral}"></td><br>
			</tr>
		</p>
		<a href="/users/xiezi"><button>返回</button></a>
    </div>
</body>
</html>