<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorate="~{./layout/layout_users}">
<head>
<meta charset="UTF-8">
<meta name="viewport" http-equiv="X-UA-Compatible"  content="width=device-width,initial-scale=1.0">
<title>Insert title here</title>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<link href="https://cdn.bootcss.com/iview/2.14.0/styles/iview.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/css/user_xiezi.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/iconfont/iconfont.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/iconfont/demo.css}"/>
</head>

<body>
	<div layout:fragment="user_content">
		<tr th:each="item,eee: ${releaseComm}">
			<td><img th:src="@{${item.recomm_picture}}" width="20px" heigth="20px" border="0" alt=""/></td><br>
			<td class="ziti" th:text="${'$'+item.recomm_price+'   '}"></td>
			描述:<td th:text="${item.recomm_describe}"></td>
			<td>
				<form action="/users/saydiscuss" method="post">
					<input type="hidden" name="_method" value="put">
		    		<input type="text" style="display:none" name="recomm_id" readonly th:value="${item.recomm_id}"/>
		    		<input type="text" style="display:none" name="recomm_user" readonly th:value="${item.recomm_user}"/>
					<input type="text" name="discuss_content" placeholder="发表评论..."></input>
					<button onclick="mybutton()">发表</button>
				</form>
			</td>
			<!-- 查看评论在弹窗上显示，利用th:each遍历显示，form表单查询得到 -->
			<td>
				<form action="/users/showdiscuss" method="post">
					<input type="hidden" name="_method" value="put">
		    		<input type="text" style="display:none" name="recomm_id" readonly th:value="${item.recomm_id}"/>
		    		<input type="text" style="display:none" name="recomm_user" readonly th:value="${item.recomm_user}"/>
					<button id="open_btn" class="btn">查看评论</button>
				</form>
			</td>	
			<td><!-- a href="/users/purchase"><button name="recomm_id" readonly th:value="${item.recomm_id}">购买</button></a> -->
				<form action="/users/purchase" method="post">
					<input type="hidden" name="_method" value="put">
		    		<input type="text" style="display:none" name="recomm_id" readonly th:value="${item.recomm_id}"/>
		    		<input type="text" style="display:none" name="recomm_user" readonly th:value="${item.recomm_user}"/>
		    		<input type="text" style="display:none" name="recomm_price" readonly th:value="${item.recomm_price}"/>
		    		<input type="submit" value="购买">
				</form>
				
			</td>	
			<br>	
		</tr>
	</div>
<script type="text/javascript">
function mybutton(){
	alert("发表成功");
}
function ok(){
	var check = document.getElementsByTagName('input')[0];
	console.log(check.checked);//false
	if($("input[type='checkbox']").is(':checked'))
		alert("下单成功");
	else
		alert("请选择地址");
}
$(".btn").click(function(){
	$(".dialog").show(100)
}) 
</script>	
</body>
</html>